<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="Default" connectionString="Server=dev.kjeldcon.se;Port=5432;Database=panda_prod;User Id=panda;Password=panda123;"/>-->
		<add name="Default" connectionString="Server=localhost;Port=5432;Database=miniSQL;User Id=postgres;Password=host123;"/>
	</connectionStrings>
</configuration>